@import 'partials/variables';
@import 'partials/home';

// Proprietà generali
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8e8e8;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

// Colori sfondo
.bg-purple{
    background-color: #3c1567;
}
.bg-grey{
    background-color: #3c3c3c;
}
.bg-blue{
    background-color: #0072bc;
}

// Proprietà header
header{
    background-color: $primary-dark;
    height: 100px;
    color: white;
    padding: 10px 0 20px;
    @include centered;
    overflow: hidden;

    ul{
        display: inline-block;
    }

    // Lista azioni user
    #user-menu {
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 30px;
            li{
                margin-left: 20px;
                font-size: 13px;
                a{
                    color: #989898;
                }
                i{
                    font-size: 18px;
                    vertical-align: middle;
                    color: #009cff;
                    margin-right: 5px;
                }
            }
        }
    }

    // Lista nav header
    nav{
        ul{
            height: 50px;
            display: flex;
            align-items: center;
            li{
                margin-right: 30px;
                font-size: 15px;
                a{
                    color: white;
                }
                i{
                    color: grey;
                }
            }
        }
    }
}

// Proprietà footer
footer{
    // Links nav
    .menu-nav{
        background-color: #ececec;
        padding: 50px 0 30px;
        @include centered;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        ul{
            flex-basis: calc(100% / 4);
            padding: 0 10px;
            li{
                font-size: 14px;
                color: #4d4d4d;
                margin: 12px 0;

                h3{
                    color: black;
                    font-weight: 500;
                }
                a{
                    color: #4d4d4d;
                    font-size: 13px;
                }
            }
        }
        .social {
            margin-top: 20px;
            li {
                display: inline-block;
                
                .fab, .fas{
                    font-size: 35px;
                    margin-right: 5px;
                }
                .fa-instagram-square{
                    color: #e4405f;
                }
                .fa-facebook-square{
                    color: #3b5998;
                }
                .fa-twitter-square{
                    color: #1da1f2;
                }
                .fa-youtube-square{
                    color: #cd201f;
                }
                .fa-pinterest-square{
                    color: #bd081c;
                }
                .fa-rss-square{
                    color: #ff8d00;
                }
            }
        }
    }

    // Sezione footer privacy terms
    .privacy{
        padding: 10px 0 20px;
        @include centered;
        background-color: #1e1e1e;
        display: flex;
        justify-content: space-between;

        img{
            margin: 0 15px;
            vertical-align: middle;
        }
        
        .terms{
            margin-top: 15px;
            ul{
                li{
                    display: inline-block;
                    font-size: 12px;
                    color: white;
                    margin: 0 15px;
                    a{
                        color: #999999;
                    }
                }
            }
        }
    }
}