@import 'partials/variables';
@import 'partials/home';

// Proprietà generali
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8e8e8;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

// Colori sfondo
.bg-purple{
    background-color: #3c1567;
}
.bg-grey{
    background-color: #3c3c3c;
}
.bg-blue{
    background-color: #0072bc;
}

// Proprietà header
header{
    background-color: $primary-dark;
    height: 120px;
    color: white;
    padding: 20px 0;
    @include centered;

    ul{
        display: inline-block;
    }

    #user-menu {
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 30px;
        }
    }

    nav{
        ul{
            height: 50px;
            display: flex;
            align-items: center;
        }
        .logo{
            background-color: red;
        }
    }
}

// Proprietà footer
footer{
    .menu-nav{
        background-color: #ececec;
        padding: 50px 0 30px;
        @include centered;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        ul{
            flex-basis: calc(100% / 4);
            padding: 0 10px;
            li{
                font-size: 14px;
                color: #4d4d4d;
                h3{
                    color: black;
                    font-size: 18px;
                }
            }
        }
        .social {
            margin-top: 20px;
            li {
                display: inline-block;
                font-size: 35px;
                .fa-instagram-square{
                    color: #e4405f;
                }
                .fa-facebook-square{
                    color: #3b5998;
                }
                .fa-twitter-square{
                    color: #1da1f2;
                }
                .fa-youtube-square{
                    color: #cd201f;
                }
                .fa-pinterest-square{
                    color: #bd081c;
                }
                .fa-rss-square{
                    color: #ff8d00;
                }
            }
        }
    }

    .privacy{
        padding: 10px 0 20px;
        @include centered;
        background-color: #1e1e1e;
        display: flex;
        justify-content: space-between;

        img{
            margin: 0 10px;
            vertical-align: middle;
        }
        
        ul{
            li{
                display: inline-block;
            }
        }
    }
}